In [1]:
import pandas as pd
import numpy as np

In [2]:
# to suppress some annoying messages
import warnings

In [3]:
# Suppress FutureWarnings
# I don't want annoying messages about agg
warnings.simplefilter(action='ignore', category=FutureWarning)

In [4]:
df = pd.read_csv('salary.csv', delimiter='\t')

In [5]:
# group by gender and get mean and median of salary
aggregated_df = df.groupby('gender')['yearly_salary'].agg([np.mean, np.median])

In [6]:
# grouped by gender
gender_group = df.groupby('gender')

In [7]:
print(aggregated_df)

                 mean   median
gender
f       256666.666667  80000.0
m        91203.750000  65000.0

In [8]:
# get first values for each column from grouped by gender
gender_group = df.groupby('gender')
first = gender_group.first()

In [9]:
print(first)

        name         career  yearly_salary  age age_group
gender
f       Sana  idol / singer        1450000   28     20–29
m       Brad         doctor         150000   35     30–39